#product_tabs_related_tabbed_contents ul.accesories_tabs li{ float : none;margin-right: 0px; }
#content .accessories{border:solid 1px #e4e4e4;overflow:hidden;zoom:1;}
#content .accessories td{padding:2px 8px 2px 8px;overflow:hidden;zoom:1;vertical-align: middle;}
#content .accessories td img{display:block;border:0;width:120px;height:120px;padding-left:30px}
#content .accessories td .selection{display:block;border:0;width:1000px;}
#content .accessories td a{display:block;}
#content .accessories td a ins{clear:left;color:#EF5F16;display:block;font-size:14px;font-weight:bold}
#content .accessories td a ins.outstock {clear:left;color:red;display:block;font-size:14px;font-weight:bold}
#content .accessories td a ins.highlight {clear:left;color:#0066FF;display:block;font-size:14px;font-weight:bold}
#content.accesories{overflow:hidden;zoom:1;}
#content.accesories .products{clear:both;}
#content.accesories #access_text_box{font-weight:bold;color:#000;border:solid 1px #e4e4e4;padding:10px;margin-bottom:14px;}
#content.accesories #access_hint{font-weight:bold;color:#ef5f16}
#content.accesories h3{margin-top:24px;position:relative;}
#content.accesories .checkout_btn{float:right;margin-bottom:15px;}
#content.accesories h3 .top{margin:-12px 0 0 0;position:absolute;right:0;font-family:Open Sans;font-weight:normal;}
#content.accesories .bottom{clear:both;margin-top:13px;}
#content.accesories .accesories_tabs{float:left;display:inline;overflow:hidden;zoom:1;width:100%;}
#content.accesories .accesories_tabs li{margin-top:12px;}
#content.accesories .accesories_tabs li > div{display:block;background-color:#f2f2f2;}
#content.accesories .accesories_tabs li > div:hover{display:block;background-color:#FF9933;color:#fff;}
#content.accesories .accesories_tabs li > div > div{display:block;text-decoration:none;color:#000;padding:5px;cursor: pointer;}
#content.accesories .accesories_tabs li > div > div:hover{color:#fff;}
#content.accesories .accesories_tabs li > div > div > span{font-size:12px;font-family:Open Sans;}
#content.accesories .accesories_tabs li > div > div > #access_oc_tag{display:inline-block;width:15px;}
#content.accesories .accesories_tabs li > div > div > #access_title{padding-left:20px;}

#content .accessories td a {
    display: block;
    color : #2F2F2F;
}
#content .accessories td a.more_info_btn23{
	color : #fff;
}
#content .accessories td a:hover{
	color : #1E7EC8;
}
#content .accessories .price-box span.price:hover{
	color : #1E7EC8;
}
#content .more_info_btn21, #content .more_info_btn23 {
    background: url("../../../default/default/images/btn23-silver-back.jpg") repeat-x scroll center top transparent;
/*
    border-right: 1px solid #908C8C;
*/
    color: #FFFFFF;
    display: inline;
    float: left;
    font-size: 11px;
    height: 23px;
    line-height: 23px;
    margin-right: 2px;
    padding-right: 4px;
}
#content .more_info_btn21 span, #content .more_info_btn23 span {
    background: url("../../../default/default/images/btn23-silver-icon.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    float: left;
    height: 23px;
    padding-left: 24px;
    white-space: nowrap;
}
.border-radius-2 {
    border-radius: 2px 2px 2px 2px;
}
.related_loader img{  
	height: 16px !important;
    padding-left: 0 !important;
    position: absolute;
    width: 16px !important;
}
.related-index-index .page-title{ border:none; margin: 0 0 5px;}

ul.accesories_tabs .accessories .price-box .old-price,
ul.accesories_tabs .accessories .price-box .special-price .price-label{
	display: none;
}
