<?xml version="1.0"?>
<config>
    <modules>
        <Sevenlike_Fatturazione>
            <version>1.0.0</version>
        </Sevenlike_Fatturazione>
    </modules>
    <global>
        <models>
            <fatturazione>
                <class>Sevenlike_Fatturazione_Model</class>
                <resourceModel>fatturazione_resource</resourceModel>
            </fatturazione>
            <fatturazione_resource>
                <class>Sevenlike_Fatturazione_Model_Resource</class>
                <entities>
                    <numerazione>
                        <table>sl_numerazione_documenti</table>
                    </numerazione>
                </entities>
            </fatturazione_resource>
            <sales>
                <rewrite>

                    <order_invoice>Sevenlike_Fatturazione_Model_Fattura</order_invoice>
                    <service_order>Sevenlike_Fatturazione_Model_Sales_Service_Order</service_order>


                </rewrite>
            </sales>

        </models>
        <blocks>
            <class>Sevenlike_Fatturazione_Block</class>
            <adminhtml>
                <rewrite>
                    <sales_order_invoice_view>Sevenlike_Fatturazione_Block_Adminhtml_Sales_Order_Invoice_View</sales_order_invoice_view>
                    <sales_order_invoice_create>Sevenlike_Fatturazione_Block_Adminhtml_Sales_Order_Invoice_Create</sales_order_invoice_create>
                    <sales_order_creditmemo_view>Sevenlike_Fatturazione_Block_Adminhtml_Sales_Order_Creditmemo_View</sales_order_creditmemo_view>
                    <sales_order_creditmemo_create>Sevenlike_Fatturazione_Block_Adminhtml_Sales_Order_Creditmemo_Create</sales_order_creditmemo_create>
                    <sales_invoice_grid>Sevenlike_Fatturazione_Block_Adminhtml_Sales_Invoice_Grid</sales_invoice_grid>
                    <sales_creditmemo_grid>Sevenlike_Fatturazione_Block_Adminhtml_Sales_Creditmemo_Grid</sales_creditmemo_grid>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_invoice_items>Sevenlike_Fatturazione_Block_Order_Invoice_Items</order_invoice_items>
                    <order_creditmemo_items>Sevenlike_Fatturazione_Block_Order_Creditmemo_Items</order_creditmemo_items>
                </rewrite>
            </sales>
        </blocks>

        <helpers>
            <fatturazione>
                <class>Sevenlike_Fatturazione_Helper</class>
            </fatturazione>
        </helpers>
        <resources>
            <fatturazione_setup>
                <setup>
                    <module>Sevenlike_Fatturazione</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fatturazione_setup>
            <fatturazione_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fatturazione_write>
            <fatturazione_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fatturazione_read>
        </resources>
        <fieldsets>
            <sales_copy_order_billing_address>
                <vat_id><to_order>*</to_order></vat_id>
                <partita_iva><to_order>*</to_order></partita_iva>
                <richiesta_fattura><to_order>*</to_order></richiesta_fattura>
                <indirizzo_aziendale><to_order>*</to_order></indirizzo_aziendale>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <vat_id><to_order>*</to_order></vat_id>
                <partita_iva><to_order>*</to_order></partita_iva>
                <richiesta_fattura><to_order>*</to_order></richiesta_fattura>
                <indirizzo_aziendale><to_order>*</to_order></indirizzo_aziendale>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <vat_id><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></vat_id>
                <partita_iva><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></partita_iva>
                <richiesta_fattura><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></richiesta_fattura>
                <indirizzo_aziendale><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></indirizzo_aziendale>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <vat_id><to_quote_address>*</to_quote_address></vat_id>
                <partita_iva><to_quote_address>*</to_quote_address></partita_iva>
                <richiesta_fattura><to_quote_address>*</to_quote_address></richiesta_fattura>
                <indirizzo_aziendale><to_quote_address>*</to_quote_address></indirizzo_aziendale>
            </sales_convert_order_address>
            <customer_address>
                <vat_id><to_quote_address>*</to_quote_address></vat_id>
                <partita_iva><to_quote_address>*</to_quote_address></partita_iva>
                <richiesta_fattura><to_quote_address>*</to_quote_address></richiesta_fattura>
                <indirizzo_aziendale><to_quote_address>*</to_quote_address></indirizzo_aziendale>
            </customer_address>
            <checkout_onepage_billing>
                <vat_id><to_customer_address>*</to_customer_address></vat_id>
                <partita_iva><to_customer_address>*</to_customer_address></partita_iva>
                <richiesta_fattura><to_customer_address>*</to_customer_address></richiesta_fattura>
                <indirizzo_aziendale><to_customer_address>*</to_customer_address></indirizzo_aziendale>
            </checkout_onepage_billing>
            <checkout_multishipping_billing>
                <vat_id><to_customer>*</to_customer></vat_id>
                <partita_iva><to_customer>*</to_customer></partita_iva>
                <richiesta_fattura><to_customer>*</to_customer></richiesta_fattura>
                <indirizzo_aziendale><to_customer>*</to_customer></indirizzo_aziendale>
            </checkout_multishipping_billing>
        </fieldsets>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <billinghandler>
                        <class>Sevenlike_Fatturazione_Model_Observer</class>
                        <method>addBillingHandle</method>
                    </billinghandler>
                </observers>
            </core_block_abstract_to_html_before>
            <sales_order_invoice_save_after>
                <observers>
                    <aggiorna_numerazione>
                        <type>singleton</type>
                        <class>fatturazione/observer</class>
                        <method>aggiornaNumerazione</method>
                    </aggiorna_numerazione>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <aggiorna_numerazione>
                        <type>singleton</type>
                        <class>fatturazione/observer</class>
                        <method>aggiornaNumerazione</method>
                    </aggiorna_numerazione>
                </observers>
            </sales_order_creditmemo_save_after>
            <sales_order_invoice_save_before>
                <observers>
                    <get_incrementid>
                        <type>singleton</type>
                        <class>fatturazione/observer</class>
                        <method>beforeSaveInvoice</method>
                    </get_incrementid>
                </observers>
            </sales_order_invoice_save_before>
            <sales_order_creditmemo_save_before>
                <observers>
                    <get_incrementid>
                        <type>singleton</type>
                        <class>fatturazione/observer</class>
                        <method>beforeSaveCreditmemo</method>
                    </get_incrementid>
                </observers>
            </sales_order_creditmemo_save_before>
        </events>
        <pdf>
            <fattura>
                <default>fatturazione/pdf_items_fattura_default</default>

            </fattura>
            <ndc>
                <default>fatturazione/pdf_items_ndc_default</default>

            </ndc>
            <notacredito>
                <default>fatturazione/pdf_items_notacredito_default</default>

            </notacredito>
            <notacreditondc>
                <default>fatturazione/pdf_items_notacreditondc_default</default>

            </notacreditondc>
			<totals>
			<discount translate="title">
                    <title>Sconto</title>
                    <source_field>discount_amount</source_field>
                    <title_source_field>discount_description</title_source_field>
                    <font_size>8</font_size>
                    <display_zero>0</display_zero>
                    <model>fatturazione/pdf_total_discount</model>
					<sort_order>200</sort_order>
                </discount>
				 <subtotal translate="title">
                    <title>Imponibile</title>
                    <source_field>subtotal</source_field>
                    <font_size>8</font_size>
                    <display_zero>1</display_zero>
					<model>fatturazione/pdf_total_subtotal</model>
					
                    <sort_order>100</sort_order>
                </subtotal>
                <tax translate="title">
                    <title>Tax</title>
                    <source_field>tax_amount</source_field>
                    <model>tax/sales_pdf_tax</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>500</sort_order>
                </tax>
			</totals>
            <totals_ndc>
                <discount translate="title">
                    <title>Sconto</title>
                    <source_field>discount_amount</source_field>
                    <title_source_field>discount_description</title_source_field>
                    <font_size>8</font_size>
                    <display_zero>0</display_zero>
                    <model>fatturazione/pdf_total_discount</model>
					<sort_order>600</sort_order>
                </discount>
                <subtotal translate="title">
                    <title>Imponibile</title>
                    <source_field>subtotal</source_field>
                    <font_size>8</font_size>
                    <display_zero>1</display_zero>
					<model>fatturazione/pdf_total_subtotal</model>
					
                    <sort_order>700</sort_order>
                </subtotal>
                <shipping translate="title">
                    <title>Imponibile Spedizione</title>
                    <source_field>shipping_amount</source_field>
                    <font_size>8</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>750</sort_order>
                </shipping>
                <tax translate="title">
                    <title>IVA</title>
                    <source_field>tax_amount</source_field>
                    <font_size>8</font_size>
                    <display_zero>1</display_zero>
                    <sort_order>800</sort_order>
                </tax>
                <grand_total translate="title">
                    <title>Grand Total</title>
                    <source_field>grand_total</source_field>
                    <font_size>8</font_size>
                    <display_zero>1</display_zero>
                    <sort_order>900</sort_order>
                </grand_total>

            </totals_ndc>
            <totals_notacreditondc>

                <discount translate="title">
                    <title>Sconto</title>
                    <source_field>discount_amount</source_field>
                    <title_source_field>discount_description</title_source_field>
                    <font_size>8</font_size>
                    <display_zero>0</display_zero>
                    <model>fatturazione/pdf_total_discount</model>
                    <sort_order>600</sort_order>
                </discount>
                <subtotal translate="title">
                    <title>Imponibile</title>
                    <source_field>subtotal</source_field>
                    <font_size>8</font_size>
                    <display_zero>1</display_zero>
                    <model>fatturazione/pdf_total_subtotal</model>

                    <sort_order>700</sort_order>
                </subtotal>
                <shipping translate="title">
                    <title>Imponibile Spedizione</title>
                    <source_field>shipping_amount</source_field>
                    <font_size>8</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>750</sort_order>
                </shipping>
                <tax translate="title">
                    <title>IVA</title>
                    <source_field>tax_amount</source_field>
                    <font_size>8</font_size>
                    <display_zero>1</display_zero>
                    <sort_order>800</sort_order>
                </tax>
                <grand_total translate="title">
                    <title>Grand Total</title>
                    <source_field>grand_total</source_field>
                    <font_size>8</font_size>
                    <display_zero>1</display_zero>
                    <sort_order>900</sort_order>
                </grand_total>
            </totals_notacreditondc>

        </pdf>
    </global>
    <admin>
        <fieldsets>
            <customer_dataflow>
                <vat_id><billing>1</billing></vat_id>
                <partita_iva><billing>1</billing></partita_iva>
                <richiesta_fattura><billing>1</billing></richiesta_fattura>
                <indirizzo_aziendale><billing>1</billing></indirizzo_aziendale>
            </customer_dataflow>
        </fieldsets>

        <routers>
            <adminfatturazione>
                <use>admin</use>
                <args>
                    <module>Sevenlike_Fatturazione</module>
                    <frontName>adminfatturazione</frontName>
                </args>
            </adminfatturazione>
        </routers>
    </admin>

    <default>
        <fatturazione>
            <general>
                <indipendenti>1</indipendenti>
            </general>
            <fattura>
                <formato>F$S$N/$A</formato>
                <numero_iniziale>1</numero_iniziale>
            </fattura>
            <ndc>
                <formato>N$S$N/$A</formato>
                <numero_iniziale>1</numero_iniziale>
            </ndc>
            <creditmemo>
                <formato>C$S$N/$A</formato>
                <numero_iniziale>1</numero_iniziale>
            </creditmemo>
            <creditmemo_ndc>
                <formato>CN$S$N/$A</formato>
                <numero_iniziale>1</numero_iniziale>
            </creditmemo_ndc>
        </fatturazione>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <fatturazione>
                    <file>fatturazione.xml</file>
                </fatturazione>
            </updates>
        </layout>

    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <fatturazione>
                    <file>fatturazione.xml</file>
                </fatturazione>
            </updates>
        </layout>

        <routers>
            <fatturazione>
                <use>standard</use>
                <args>
                    <module>Sevenlike_Fatturazione</module>
                    <frontName>fatturazione</frontName>
                </args>
            </fatturazione>
        </routers>
    </frontend>
</config> 
