@media #{$max-767} { 

	body {
		overflow-x: hidden;
	}

	.wrapper, 
	.main, 
	.header, 
	.footer, 
	.address {
		width: $second-width;
		min-width: $second-width;
	}


	.header-container {
		.header {
			.firstPart {
				display: none;
			}
			.thirdPart {
				.quick-access {
					float: left;
					width: 94%;
					margin-left: 3%;
					margin-bottom: 5px;
					.welcome-msg {
						display: none;
					}
					.links {
						li {
							display: inline-block;
							width: 32%;
							text-align: center;
							background: none !important;
							&.first{
								text-align: left;
							}
							&.last{
								margin-left: 0;
								text-align: right;
							}
							a {
								font-size: $font-middle;
								text-transform: capitalize;
								padding-left: 35px;
								background: url('../images/sprite_mobile_menu.png') -17px -63px no-repeat;
								&.registrati {
									background-position: -19px -64px;
								}
								&.wishlist {
									background-position: -16px 6px;
									padding-left: 28px;
									background-size: 29%;
								}
								&.accedi {
									background-position: -19px -130px;
								}
								&.cartMobile {
									background-position: -18px -201px;
									padding-left: 40px;
									display: initial;
								}
							}
						}
					}
				}
				.block-cart {
					display: none;
				}
			}
			.mobile_topNav {
				display: block;
				> div {
					float: left;
					height: 90px;
					&.openMenuMobile {
						width: 18%;
						a {
							display: block;
							height: 90px;
							background: url('../images/menu_mobile.png') -15px -35px no-repeat;
						}
					}
					&.logoMobile {
						width: 64%;
						text-align: center;
					}
					&.searchMobile {
						width: 18%;
						a {
							display: block;
							height: 90px;
							background: url('../images/menu_mobile.png') -15px -220px no-repeat;
						}
					}
				}
			}
		}
	}

	.page #nav {
		display: none;
	}


	.mobileNavigation {
		width: 100%;
		border-top: 5px solid $pink;
		@include transition(all,0.5s);
		&.slided {
			left: 0;
			@media #{$max-767} {
				position: absolute;
			}
		}
		.topMobileNav {
			background: #f5f6f7;
			padding: 10px 0;
			overflow: hidden;
			> div {
				height: 70px;
				float: left;
			}
			.backToDesk {
				width: 18%;
				cursor: pointer;
				background: url('../images/menu_mobile.png') -16px -402px no-repeat;
			}
			.titleTopMobileNav {
				width: 64%;
				text-align: center;
				font-size: $font21;
				line-height: $font42;
				font-family: $opensans-bold;
			}
			.activeTopMobileNav {
				width: 18%;
				cursor: pointer;
				background: url('../images/menu_mobile.png') -14px -608px no-repeat;
			}
		}
		#nav {
			width: 100%;
			li {
				text-align: left;
				&:nth-child(2n) {
					background: #f5f6f7;
				}
			  	&:last-child{
				  display: none;
				}

				a {
					display: block;
					padding-left: 10px;
					font-family: $opensans-bold;
					font-size: $font18;
					line-height: $font21;
					padding: 18px 0 21px 20px;
					text-transform: uppercase;
					letter-spacing: 2px;
					&.parent {

					}
				}
				ul.level0 {
					display: none;
					li {
						background: #fff;
						&:nth-child(2n) {
							background: #f5f6f7;
						}
						&:last-child {
							@include shadow(inset,0,-5px,16px,#999);
						}
						a {
							font-family: $opensans-regular;
							font-size: $font15;
							letter-spacing: 1px;
							color: $grigio;
						}
					}
				}
				&.opened {
					background: $pink;
					a {
						color: #fff;
					}
				}
			}
		}
	}


	.wrapper {
		@include transition(all,0.5s);
		&.slided {
			@include transform(translate(100%));
		}
	}



	/* prodotto */
	.catalog-product-view {
		#nex-prev-link {
			margin: 0 2%;
		}
		.return-category {
			margin-right: 2%;
		}
		.product-view {
			margin: 0 1%;
			margin-top: 770px;
			.product-essential {
				.product-shop {
					width: 100%;
					margin-left: 0;
				}
				.product-img-box {
					width: 96%;
					position: absolute; 
					top: 90px; 
					text-align: center;
					.product-image {
						width: 70%; 
						display: inline-block;
					}
					img {
						width: 100%;
					}
					.more-views {
						display: none;
					}
				}
			}
		}
	}

}



