.catalog-product-view {
    .product-name h1 {
      font-family: $opensans-regular;
    }
	.col-main {
		position: relative;
		.return-category {
			position: absolute;
			right: 0;
			top: -35px;
			padding-right: 20px;
			background: url('../images/bg_return_category.png') 100% 1px no-repeat;
			@media #{$max-767} {
				position: inherit;
				float: right;
				top: 0;
				margin: 20px 0;
				background-position: 100% 11px;
			}
		}
		#nex-prev-link {
			margin-bottom: 20px;
			overflow: hidden;
			clear: both;
			.next-product { float: right; }
			> a { color: $grigio-chiarone; @include georgia(); }
		}
	}
	.product-view {
		.product-essential {
			.form-add { display: none; }
			.product-img-box {
				float: left;
				position: relative;
				.product-image { margin: 0; }
				.more-views {
					position: absolute;
					bottom: 0;
					left: 508px;
					width: 100%;
					@media #{$max-959-only} { position: static; left: 0; }
					li {
						margin: 0 10px 0 0;
						float: left;
						width: 100px;
						@media #{$max-959} { width: 20%; }
						a {
							display: inline-block;
							img { width: 100%; }
						}
					}
				}
			}
			.product-shop {
				float: right;
				width: 480px;
				@media #{$max-767} { 
					width: 100%;
					float: none;
				}
				.product-name {
					h1 {
						font-family: $opensans-regular;
						font-size: $font25;
						line-height: $font25;
						margin-bottom: 10px;
						display: inline-block;
						@media #{$max-767} {
						  font-size: $font21;
						}
					}
					span {
						font-size: $font12;
						color: $grigio-chiarone;
						display: block;
					}
					.social {
						float: right;
						ul {
							li {
								float: left;
								a {
									display: inline-block;
									width: 30px;
									height: 30px;
									background: url("../images/social.jpg") 0 0 no-repeat;
									background-size: 180px;
                                  cursor: pointer;
									&.fb {
										background-position: 1px 2px;
										border-right: 1px solid $grigio-chiarone;
										margin-right: 5px;
									}
									&.tw {
										background-position: -49px 2px;
										border-right: 1px solid $grigio-chiarone;
										margin-right: 5px;
										padding-right: 5px;
									}
									&.gp {
										background-position: -99px 1px;
										border-right: 1px solid $grigio-chiarone;
										margin-right: 5px;
										padding-right: 5px;
									}
									&.pt {
										background-position: -154px 0px;
									}
								}
							}
						}
					}
				}
				.product-desc {
					margin-top: 25px;
					padding-bottom: 7px;
					background: url('../images/divider.png') 0 100% repeat-x;
					p {
						color: $grigio-chiarone;
					  @media #{$max-767}{
						line-height: 1.5rem;
						font-size: $font14;
					  }
					}

				}
              .riviste-desc{
                  background: none !important;
                  margin-top: 15px;
                   p{
                     color: $grigio !important;
					 @media #{$max-767} {
					   font-size: $font12;
					   line-height: $font-xl;
					 }
                   }
                      strong{
                        //font-size: $font-middle-xs;
                        font-family: $opensans-bold;
                        font-size: $font14;
						@media #{$max-767} {
						  font-size:$font12;
						}
                      }

               }

				.product-options1,
				.product-options2  {
					padding: 12px 0 3px;
					background: url('../images/divider.png') 0 100% repeat-x;
					@media #{$max-767} {
						padding: 19px 0 11px;
					}
					p {
						display: inline-block;
						margin-right: 20px;
						span {
							color: $grigio-chiarone;
							margin-left: 5px;
						}
					}
				}
				.ratings {
					margin-top: 10px;
					.no-rating {
						margin-bottom: 5px;
						@media #{$max-767} {
							margin-bottom: 15px;
						}
					}
					.rating-title {
						display: inline-block;
						float: left;
						margin-right: 30px;
					}
					.rating-box {
						width: 115px;
						height: 15px;
						background: url('../images/rating_grey.jpg') 0 0 no-repeat;
						display: inline-block;
						float: left;
						position: relative;
						@media #{$max-767} { margin-top: 10px; }
						.rating {
							width: 115px;
							height: 15px;
							background: url('../images/rating_pink.png') 0 0 no-repeat;
						}
						.rat {
							position: absolute;
							width: 18px;
							height: 18px;
							cursor: pointer;
							&.rat1 {
								left: 0;
							}
							&.rat2 {
								left: 25px;
							}
							&.rat3 {
								left: 48px;
							}
							&.rat4 {
								left: 73px;
							}
							&.rat5 {
								left: 97px;
							}
						}
					}
				}
				#product_addtocart_form {
					.product-options {
						border: 0;
						padding: 0;
						margin-top: 20px;
						.titleAcquisto {
							float: left;
							margin-top: 20px;
							padding-top: 12px;
                            position: relative;
                            width: 240px;
                            margin-left: -5px;
                            //z-index: 1000;
							@media #{$max-959} {
								display: none;
							}	
							p {
								font-size: $font-middle;
							}
                            div.modaLink {
                                display: inline-block;
                                width: 16px;
                                height: 16px;
                                background: url('../images/modalink.png') 0 0 no-repeat;
                                float: left;
                                margin-right: 5px;
                                p{
                                  font-size: $font14;
                                }
                              div{
                                  display: none;
                                  position: absolute;
                                  width: 300px;
                                  left: -10px;
                                  top:-200px;
                                  background: #fff;
                                  padding: 10px 15px;
                                  border: 1px solid #eee;
                                  @include shadow(null,0,7px,8px,#999);
                                }
                            }
                            div.modaLink:hover div{
                              display: block;
                            }
						}
						.scegliAcquisto {
							float: right;
							margin-top: 20px;
                            width: 230px;
							@media #{$max-959} {
								float: left;
							}	
							button {
								margin: 0 0 10px;
							}
						}
					}
					.add-to-box {
					  margin-top: 35px;
					  @media #{$max-959} {
						margin-top: 10px;
					  }
					  @media #{$max-767}{
						text-align: center;
					  }
					  .add-to-link{
						  @media #{$max-767}{
						  text-align: center;
						  display: inline-block;
						  float: inherit;
						  margin-bottom: 20px;
						}
					  }
						.link-wishlist {
							display: inline-block;
							padding-left: 20px;
							background: url('../images/bg_wish_alone.png') 0 0px no-repeat;
							color: $grigio-chiarone;
							@media #{$max-767} {
								background: none;
							}
						}
					}
                  .guida a{
                    margin: 10px 0;
                    /* color: #999999; */
                    padding-left: 20px !important;
                    background: url("../images/sprite_global.png") -10px -433px no-repeat !important;
                    opacity: 0.6;
                    @media #{$max-767} {
                    	background: none !important;
                    }
                  }
				}
				.product-options-bottom {
					.price-box {
						float: right;
                        .regular-price .price{
                          display: none;
                        }
						.old-price {
							display: inline-block;
							.price {
								color: $grigio-chiarone;
								font-size: $font14;
                                text-decoration: line-through;
							}
						}
						.sconto {
							font-family: $opensans-bold;
							font-size: $font15;
						}
						.special-price {
							display: none;
						}
					}
					.inline-points {
						display: none;
					}
					.add-to-links {
						display: none;
					}
					.add-to-cart {
						clear: both;
						float: right;
						margin-top: 5px;
                      p.non-disponibile{
                        background: url("../images/bg_button_biggest.png") 0 0 repeat-x;
                        width: 476px;
                        height: 28px;
                        padding: 10px 0 0 0;
                        text-align: center;
                        border: 1px solid $bordo-bottoni;
                        @media #{$max-767} {
                        	width: 90%;
                        	height: 70px;
                        	margin: 10px auto;
                        	background: #efefef;
                        }
                      }
                      p.coming-soon{
                        font-family: $opensans-bold;
                        text-transform: uppercase;
                        text-align: center;
                      }
					}
				}
				&.rivista {
					.product-name {
						.social { display: none;}
					}
				}
			}
		}
        &.creazioni{
          margin-top: 20px;
          margin-bottom: 20px;
          .product-shop {
            float: right;
            width: 200px;
            .product-name {
              .social {
                float: left;
                margin: 20px 0;
              }
              .dati {
                span a{
                  color: $grigio-chiarone;
                    margin-left: 0px;

                }
              }
            }
            .product-options2  {
              p span a{
                  color: $grigio-chiarone;
                }
            }
          }
          .more-views{
            position: inherit !important;
             bottom: inherit !important;
             left: 0px !important;
             width: inherit !important;
            margin-bottom: 0px;
          }
          .product-desc{
            margin-top: 40px !important;
            background: none !important;
          }
          .spaceBetween{
            margin-top: 50px;
          }
          .commentWrapper {
            overflow: hidden;
            background: url('../images/divider.png') 0 bottom repeat-x;
            &.first{
              background:none;
            }
            padding: 20px 0;
            .commentDetails {
              width: 30%;
              float: left;
              .img {
                float: left;
                img {
                  @include radius(50%,50%,50%,50%);
                }
              }
              .det {
                float: left;
                margin-left: 10px;
                margin-top: 5px;
              }
            }

            .comm-accedi{
              float: left;
              text-align: left;
              text-transform: uppercase;
              color: $pink;
              font-family: $opensans-bold;
              margin-right: 20px;
              margin-top: 15px;
            }
            .commentContent {
              width: 70%;
              float: left;
              color: $grigio-chiaro;
            }
          }
          #productcomment {
            display: block;
            overflow: hidden;
            clear: both;
            padding-top: 20px;
            margin-top: 20px;

              h3 {
                font-size: $font22;
                color: $grigio-chiaro;
                font-family: $opensans-regular;
                margin-bottom: 15px;
              }
              .form-list .input-box {
                height: auto;
              }

          }
        }
		.spaceBetween {
			@include hrr;
			margin-bottom: 20px;
		}
		.other-products {
			float: left;
			width: 645px;
			padding-right: 30px;
			background: url('../images/nav_divider.png') 100% 0 repeat-y;
			@media #{$max-959} {
				width: 100%;
				padding: 0;
				background: none;
			}
			@media #{$max-767} {
				li:nth-child(3) {
					display: none;
				}
			}
          .datiProd {
            padding: 0 10px 0px;
			@media #{$max-767} {
			  width: 92%;
			}
          }

			> div {
				width: 100%;
				border: 0;
				&.box-up-sell {
					margin-bottom: 40px;
				}
			}
          &.other-products-rivista{
            width: 100%;
            padding-right: 0;
            background: none;
            h1{
              margin: 15px 0 20px 0;
              font-family:$opensans-regular;
              font-size: $font21;
            }
            ul{

              margin: 0 0 30px 0;

              li{
              margin-bottom: 15px;

            }
              &.add-to-links {
                float: left;
                margin: 9px 5px 0 0;
                li{
                  margin-bottom: 0;
                }
              }
            }
          }
		}
		.product-sidebar {
			float: right;
			@media #{$max-959} {
				display: none;
			}
		}

		.social-b { 
			clear: both;
          margin-top: 20px;
          float: left;
		  @media #{$max-767}{
			float: inherit;
			display: inline-block;
			text-align: center;
		  }
			ul {
			  @media #{$max-767}{
				display: inline-block;
			  }
				li {
					float: left;
					a {
						display: inline-block;
						width: 30px;
						height: 30px;
						background: url("../images/social.jpg") 0 0 no-repeat;
						background-size: 180px;
						&.fb {
							background-position: 1px 2px;
							border-right: 1px solid $grigio-chiarone;
							margin-right: 5px;
						}
						&.tw {
							background-position: -49px 2px;
							border-right: 1px solid $grigio-chiarone;
							margin-right: 5px;
							padding-right: 5px;
						}
						&.gp {
							background-position: -99px 1px;
							border-right: 1px solid $grigio-chiarone;
							margin-right: 5px;
							padding-right: 5px;
						}
						&.pt {
							background-position: -154px 0px;
						}
					}
				}
			}
		}
	}


	.product-view.conf {

		.product-essential .product-shop #product_addtocart_form .product-options .titleAcquisto {
			display: none;
		}

		.product-essential .product-shop #product_addtocart_form .product-options .scegliAcquisto {
			width: 100%;
		}

		.product-essential .product-shop #product_addtocart_form .product-options dl.last {
			clear: both;
		}

		.product-essential .product-shop #product_addtocart_form .product-options dl.last .options-list li{
			display: inline-block;
			margin-right: 8px;
		}
	}


	.total-look & {
		.product-view {
			.product-essential {
				.product-options {
					.options-list {
						li {
							padding-bottom: 10px;
							background: url('../images/divider.png') 0 100% repeat-x;
						}
						.leftPart {
							float: left;
							margin-right: 35px;
						}
						.rightPart {
							position: relative;
							float: left;
							width: 320px;
							input.checkbox {
								display: none;
							}
							.checkBot {
								width: 17px;
								height: 17px;
								background: url('../images/catalog/product/checkbox.png') 0 0 no-repeat;
								position: absolute;
								top: 0;
								left: -25px;
								cursor: pointer;
								&.selected {
									background-position: 0 -37px;
								}
							}
							.product-name {
								font-size: $font-middle;
								.price-notice {
									float: right;
									.price {
										color: $pink;
										font-family: $opensans-bold;
										font-size: $font15;
									}
								}
							}
							.sku {
								@include arial($font12);
								color: $grigio-chiarone;
							}
							.desc {
								padding-bottom: 7px;
								background: url('../images/divider.png') 0 100% repeat-x;
								p {
									color: $grigio-chiarone;
									@include arial($font13);
								}
							}
							.product-options2 {
								background: none;
							}
						}
					}
				}
				.product-options-bottom {
					float: right;
					.product-pricing {
						display: none;
					}
					.full-product-price {
						.price {
							font-family: $opensans-bold;
							font-size: $font15;
						}
					}
				}
				.bundle-data {
					display: none;
				}
				.add-to-box {
					margin-top: 45px !important;
				}
				.product-img-box {
					.more-views {
						display: none;
					}
				}
			}
		}
	}
}

.category-creazioni-degli-utenti .return-category{
  right: -335px !important;
}
.category-creazioni-degli-utenti #nex-prev-link .next-product{
  margin-right: -335px;
  margin-top: -5px;
}
.category-creazioni-degli-utenti #nex-prev-link {
  overflow: inherit !important;
}
.creazioni-utente .datiProd .doubleData{
  text-align: center !important;
}
.creazioni-utente .datiProd .product-name {
  height: 40px !important;
  margin-top: 15px !important;

}
