.cms-no-route {
	.main {
		.col-main {
			.not-founded {
				width: 100%;
				text-align: center;
				.bg_404 {
					width: 571px;
					height: 272px;
					background: url('../images/bg_404.png') 0 0 no-repeat;
					margin: 50px auto 20px;
				}
				h4 {
					font-size: $font22;
					line-height: $font22;
					font-family: $opensans-regular;
					width: 518px;
					margin: 0 auto 10px;
				}
				p {
					width: 405px;
					margin: 0 auto 20px;
				}
			}
		}
	}
}

.checkout-cart-index {
	.main {
		.col-main {
			.mpty {
				width: 100%;
				text-align: center;
				h1 {
					font-family: $opensans-regular;
					margin: 50px auto 20px;
				}
				.bg_empty {
					width: 124px;
					height: 95px;
					background: url('../images/bg_empty.png') 0 0 no-repeat;
					margin: 0 auto 20px;
				}
				h4 {
					font-size: $font22;
					line-height: $font22;
					font-family: $opensans-regular;
					width: 295px;
					margin: 0 auto 10px;
					@media #{$max-767} {
						width: 90%;
					}
				}
				p {
					width: 405px;
					margin: 0 auto 20px;
				}
			}
		}
	}
}

.checkout-onepage-success,
.bitbull-bancasellapro-gestpay-success {
	.main {
		.col-main {
			.acquistato {
				width: 100%;
				text-align: center;
				.page-title {
					margin: 50px auto 20px;
					h1 {
						font-family: $opensans-regular;
						color: $pink;
					}
				}
				.okcart {
					width: 124px;
					height: 95px;
					background: url('../images/bg_empty.png') 0 0 no-repeat;
					margin: 0 auto 20px;
				}
				h4 {
					font-size: $font22;
					line-height: $font22;
					font-family: $opensans-regular;
					width: 400px;
					margin: 0 auto 0;
					a {
						font-size: $font22;
						line-height: $font22;
						font-family: $opensans-regular;
						color: $pink;
						text-decoration: underline;
					}
				}
				p {
					width: 480px;
					margin: 0 auto 20px;
					font-size: $font-middle;
					a {
						font-size: $font-middle;
						text-decoration: underline;
						color: $pink;
					}
				}
				.buttons {
					margin-top: 20px;
				}
			}
		}
	}
}

.customer-account-logoutsuccess {
	.main {
		.col-main {
			.esci {
				width: 100%;
				text-align: center;
				h1 {
					font-family: $opensans-regular;
					color: $pink;
					margin: 50px auto 20px;
					font-size: $font-xl;
					line-height: $font-xl;
				}
				h4 {
					font-size: $font22;
					line-height: $font22;
					font-family: $opensans-regular;
					width: 350px;
					margin: 0 auto 50px;
				}
			}
		}
	}
}