<?xml version="1.0"?>
<config>
  <modules>
    <Sevenlike_Registrocorrispettivi>
      <version>1.0.2</version>
    </Sevenlike_Registrocorrispettivi>
  </modules>
  <global>
    <helpers>
      <registrocorrispettivi>
        <class>Sevenlike_Registrocorrispettivi_Helper</class>
      </registrocorrispettivi>
    </helpers>
	<blocks>
	  <registrocorrispettivi>
		<class>Sevenlike_Registrocorrispettivi_Block</class>
	  </registrocorrispettivi>
        <adminhtml>
        <rewrite>
        <sales_order_grid>Sevenlike_Registrocorrispettivi_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
        <sales_order_view>Sevenlike_Registrocorrispettivi_Block_Adminhtml_Sales_Order_View</sales_order_view>
        </rewrite>
        </adminhtml>
    </blocks>
	<models>
	  <registrocorrispettivi>
		<class>Sevenlike_Registrocorrispettivi_Model</class>
		<resourceModel>registrocorrispettivi_mysql4</resourceModel>
	  </registrocorrispettivi>
	  <registrocorrispettivi_mysql4>
		<class>Sevenlike_Registrocorrispettivi_Model_Mysql4</class>
		<entities>		  
			  <registrocorrispettivi>
				<table>sl_registro_corrispettivi</table>
			  </registrocorrispettivi>
            <registrocorrispettivi_totali>
                <table>sl_corrispettivi_flat</table>
            </registrocorrispettivi_totali>
        </entities>
	  </registrocorrispettivi_mysql4>
	</models>
	<resources>
	  <registrocorrispettivi_setup>
		<setup>
		  <module>Sevenlike_Registrocorrispettivi</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </registrocorrispettivi_setup>
	  <registrocorrispettivi_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </registrocorrispettivi_write>
	  <registrocorrispettivi_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </registrocorrispettivi_read>
	</resources>
      <events>
          <sales_order_invoice_save_after>
              <observers>
                  <registro_invoice>
                      <type>model</type>
                      <class>Sevenlike_Registrocorrispettivi_Model_Observer</class>
                      <method>addRegistroInvoice</method>
                  </registro_invoice>
              </observers>
          </sales_order_invoice_save_after>
          <sales_order_shipment_save_after>
              <observers>
                  <registro_shipment>
                      <type>model</type>
                      <class>Sevenlike_Registrocorrispettivi_Model_Observer</class>
                      <method>addRegistroShipping</method>
                  </registro_shipment>
              </observers>
          </sales_order_shipment_save_after>
          <sales_order_creditmemo_save_after>
              <observers>
                  <registro_creditmemo>
                      <type>model</type>
                      <class>Sevenlike_Registrocorrispettivi_Model_Observer</class>
                      <method>addRegistroCreditmemo</method>
                  </registro_creditmemo>
              </observers>
          </sales_order_creditmemo_save_after>
      </events>
      <rewrite>
          <Sevenlike_Registrocorrispettivi>
              <from><![CDATA[#^/admin/sales_order_invoice/#]]></from>
              <to>/registrocorrispettivi/adminhtml_sales_order_invoice/</to>
          </Sevenlike_Registrocorrispettivi>
      </rewrite>
      <rewrite>
          <Sevenlike_Registrocorrispettivi1>
              <from><![CDATA[#^/admin/sales_order_creditmemo/#]]></from>
              <to>/registrocorrispettivi/adminhtml_sales_order_creditmemo/</to>
          </Sevenlike_Registrocorrispettivi1>
      </rewrite>
      <rewrite>
          <Sevenlike_Registrocorrispettivi2>
              <from><![CDATA[#^/admin/sales_order_shipment/#]]></from>
              <to>/registrocorrispettivi/adminhtml_sales_order_shipment/</to>
          </Sevenlike_Registrocorrispettivi2>
      </rewrite>
  </global>
  <admin>
	<routers>
	  <registrocorrispettivi>
	    <use>admin</use>
		<args>
		  <module>Sevenlike_Registrocorrispettivi</module>
		  <frontName>registrocorrispettivi</frontName>
		</args>
	  </registrocorrispettivi>
	</routers>
  </admin>
    <default>

        <registro>
            <general><inserimento_registro>fattura</inserimento_registro>
            </general>
        </registro>
    </default>
  <adminhtml>

	<menu>
	  <sales>
		<children>
		  <registrocorrispettivi module="registrocorrispettivi">
		    <title>Corrispettivi</title>
			<sort_order>100</sort_order>
            <children>
              <registrocorrispettivi_entry  module="registrocorrispettivi">
              <title>Dettagli Corrispettivi</title>
              <sort_order>100</sort_order>
			<action>registrocorrispettivi/adminhtml_registrocorrispettivi</action>
              </registrocorrispettivi_entry>
            </children>
              <children>
                  <registrocorrispettivi_totaliy  module="registrocorrispettivi">
                      <title>Registro Corrispettivi</title>
                      <sort_order>100</sort_order>
                      <action>registrocorrispettivi/adminhtml_registrocorrispettivi_totali</action>
                  </registrocorrispettivi_totaliy>
              </children>
		  </registrocorrispettivi>
		</children>
	  </sales>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<sales>
			  <children>
		  <registrocorrispettivi translate="title">
			<title>Registrocorrispettivi</title>
			<sort_order>100</sort_order>
		  </registrocorrispettivi>
			  </children>
               <children>
                <order>
                 <children>
                <actions>

                <children>
                <contabilizza translate="title"><title>Contabilizza</title></contabilizza>
                </children>
                </actions>
                </children>
                </order>
               </children>
			</sales>

		  </children>
                 <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <registro translate="title" module="registrocorrispettivi">
                                        <title></title>
                                    </registro>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>

	  </resources>
	</acl>
	<layout>
	  <updates>
		<registrocorrispettivi>
		  <file>registrocorrispettivi.xml</file>
		</registrocorrispettivi>
	  </updates>
	</layout>
  </adminhtml>
    <crontab>
    <jobs>
    <corrispettivi>
        <schedule>
            <cron_expr>59 23 * * *</cron_expr>
        </schedule>
        <run>
            <model>registrocorrispettivi/observer::aggiornaCorrispettivi</model>
        </run>
    </corrispettivi>
        </jobs>
    </crontab>
</config> 
