.opc-index-index {
  .col-main {
    margin-top: 20px;
    margin-bottom: 80px;
    .opc-wrapper-opc {
      h3 {
        text-transform: uppercase;
        padding: 10px 0 10px 45px;
        border-bottom: 1px solid $bordo-bottoni;
        border-top: 1px solid $bordo-bottoni;
        background: url('../images/checkout/numbers.png') 0 0 no-repeat;
        @media #{$max-767} {
          font-size: .9rem;
          padding: 3px 0 2px 45px;
        }
      }
      #co-billing-form h3 {
        background-position: 0 0;
      }
      .shipping-block h3 {
        background-position: 0 -92px;
      }
      .payment-block h3 {
        background-position: 0 -182px;
      }
      .payment-block.virtualposition h3{
        background-position: 0 -92px !important;
      }
      .opc-col-right > h3 {
        background-position: 0 -280px;
      }
      .opc-col-right.virtualpositionriep h3{
        background-position: 0 -182px !important;
      }
      .discount-block h3,
      .opc-data-table h3,
      #opc-address-form-shipping h3 {
        background: none;
        padding: 0;
        border: 0;
      }
      .opc-data-table {
        tbody {
          td {
            font-size: .9rem;
          }
        }
      }
    }


    .page-title {
      h1 {
        color: $pink;
        font-family: $opensans-bold;
        margin-bottom: 10px;
      }
      .subTitle {
        clear: both;
        margin-bottom: 30px;

      }
    }
    .alreadyReg {
      overflow: hidden;
      background: url('../images/checkout/already_bg.png') 0 0 repeat-x;
      .icn {
        display: inline-block;
        float: left;
        width: 63px;
        height: 57px;
        background: url('../images/checkout/already_icon.png') 0 0 no-repeat;
      }
      p {
        display: inline-block;
        float: left;
        font-size: $font18;
        padding: 20px 0 20px 10px;
        a {
          color: $pink;
          font-family: $opensans-bold;
          font-size: $font18;
          cursor: pointer;
        }
      }
    }
    #myModal {
      display: none;
      .modal-header {
        padding: 10px;
        .modal-title {
          font-size: $font15;
          text-transform: uppercase;
        }
      }
      .modal-body {
        padding: 10px;
        .form-list {
          li{
            width: 48%;
            display: inline-block;
            &:first-child{
              margin-right: 3%;
            }

            label {
              display: block;
              width: 100%;
              margin-bottom: 7px;
            }
            .input-box {
              clear: both;
              input {
                width: 94%;
                padding: 5px 3%;
              }
            }
          }
        }
      }
      .modal-footer {
        float: right;
        padding-left: 10px;
        height: 80px;
        .button {
          margin-bottom: 10px;
          margin-right: 15px;
          margin-left: 20px;
        }
        .restore-account {
          display: inline-block;
          color: $grigio-chiarone;
          text-decoration: underline;
          margin-bottom: 40px;
        }
        .back-link {
          float: left;
          margin-top: 16px;
        }
      }
    }
    .opc-col-left {
      #billing-new-address-form {
        margin-top: 15px;
      }

      #co-billing-form {
        .forum{
          .fields {
            .field {
              width: 100%;
              float: left;
              overflow: visible;
            }
          }
        }
        .notice {
          margin: 10px 0;
          float: none;
          display: block;
          text-transform: none;
        }
        select.address-select {
          width: 100%;
          @media #{$max-767} {
            height: 50px !important;
            margin-top: 30px;
          }
        }
        fieldset {
          border: 0;
          padding: 0;
          label {
            font-family: $opensans-regular;
            color: $grigio;
            text-transform:  none;
          }
          .fields {
            .field {
              width: 46%;
              float: left;
              overflow: visible;
              @media #{$max-767} {
                width: 100%;
                float: none;
                margin-top: 30px;
              }
            }
          }
          .wide {
            .field {
              width: 100%;
              overflow: visible;
              input {
                width: 100%;
              }
              @media #{$max-767} {
                margin-top: 30px;
              }
            }
          }
          .input-box {
            height: auto;
          }
        }
        .fieldset.forum {
          border: 0;
          .custom-field{
            float: left;
            width: 100%;
            fieldset{
              margin: 0;
              input[type="text"]{
                width: 98%;
              }
              textarea{
                width: 98%;
                height: 80px;
              }
              .field-row{
                margin-top: 12px;
                display: block;
                @media #{$max-767}{
                  margin-top: 30px;
                }
              }
            }
          }
        }
        #register-customer-password{
          .field{
            width: 100%;
            margin-bottom: 10px;
            .field-row{
              margin-top: 10px;
            }
            .input-box {
              width: 99%;
              height: auto;
              input[type="password"] {
                width: 98%;
              }
            }
          }
        }
      }
      #opc-address-form-shipping {
        fieldset {
          border: 0;
          padding: 0;
          label {
            font-family: $opensans-regular;
            color: $grigio;
            text-transform:  none;
          }
          .fields {
            .field {
              width: 46%;
              float: left;
            }
          }
          .wide {
            .field {
              width: 100%;
              input {
                width: 100%;
              }
            }
          }
          .input-box {
            height: auto;
          }
        }
      }
    }
    .opc-col-center {
      .shipping-block {
        #shipping-block-methods {
          padding-left: 15px;
          margin-top: 15px;
          dt {
            text-transform: uppercase;
          }
          dd {
            margin-bottom: 15px;
          }
        }
      }
      .payment-block {

        fieldset {
          border: 0;
          .input-box{
            clear:both;
            height: auto;
            display: block;
            .year{
              margin-left: 10px;
            }
          }
          .form-list{
            margin-top: 20px;
            input{
              width: 100%;
              height: auto;
              display: block;
            }
            li label{
              width: 100%;

            }
            .required em {
              font-style: normal;
              color: #eb340a;
              position: relative;
              float: none;
              margin: 0;
              right:0;
            }
          }

          dt {
            margin-top: 10px;
            label {
              margin-left: 0px;
            }
          }
          dd {

            fieldset.form-list {
              padding: 0;
            }
          }
        }
      }
      .discount-block {
        padding-left: 10px;
        margin-top: 20px;
        label{
          margin-bottom: 5px;
          display: block;
        }
        .discount {
          .input-box {
            position: relative;
            input {
              width: 95%;
            }
            button.button {
              background: none;
              border: 0;
              position: absolute;
              right: 4%;
              top: 4px;
              background: url('../images/th_separator.png') 0 50% no-repeat;
              span {
                font-family: $opensans-regular;
                font-weight: normal;
                padding-right: 15px;
                background: #{$sprite-global} 48px -110px no-repeat;
              }
              &:hover {
                span {
                  color: $grigio-chiaro;
                }
              }
            }
          }
        }
      }
    }
    .opc-col-right {
      #opc-review-block {
        margin-top: 15px;
        .opc-data-table {
          th {
            color: $pink;
            font-family: $opensans-bold;
            font-size: $font15;
            text-transform: uppercase;
          }
          td {
            h3.product-name {
              font-size: $font12;
              text-transform: none;
              color: $grigio;
            }
            dt,dd {
              font-size: $font-xs-rem;
            }
            &.last {
              text-align: right;
            }
          }
          tfoot {
            tr {
              td {
                border: 0;
              }
              &.last {
                td.a-left {
                  font-family: $opensans-bold;
                  font-size: $font-xl;
                  color: $grigio;
                }
                td.a-right {
                  span {
                    font-family: $opensans-bold;
                    font-size: $font-xl;
                    color: $pink;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.checkout-agreements .agreement-content { display: none; }
