<?xml version="1.0"?>
<config>
    <modules>
        <Sevenlike_Home>
            <version>0.1.0</version>
        </Sevenlike_Home>
    </modules>
    <global>
        <page>
            <layouts>
                <homepage module="page" translate="label">
                    <label>Homepage</label>
                    <template>page/home.phtml</template>
                    <layout_handle>homepage</layout_handle>
                </homepage>
            </layouts>
        </page>
    </global>
    <frontend>
        <layout>
            <updates>
                <Sevenlike_Home>
                    <file>sevenlike_home.xml</file>
                </Sevenlike_Home>
            </updates>
        </layout>
    </frontend>
</config>