%box-sizing {
	 -moz-box-sizing: border-box; 
	 -webkit-box-sizing: border-box; 
	 box-sizing: border-box;
}


*, html, body {
	font-family: $opensans-regular;
	font-size: 13px;
	line-height: 16px;
	color: $grigio;
	@media #{$max-767} {
		font-size: 28px;
		line-height: 38px;
	}
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

a:link, a:visited, a:active {
	text-decoration: none;
	color: $grigio;
}
a:hover {
	text-decoration: underline;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	margin: 0 0 5px;
	line-height: inherit;
}

h1,
h2,
h3,
h4,
h1 a,
h2 a,
h3 a, 
h4 a {
	font-family: $opensans-bold;
	font-weight: normal !important;
	color: $grigio;
}
h2 {
	font-size: $font20;
	&.legend {
		font-size: $font15;
		line-height: $font15;
		text-transform: uppercase;
		margin-top: 20px;
        background: url('../images/divider.png') 0 100% repeat-x;
        padding-bottom: 10px;
        margin-bottom: 10px;
        color: $pink;
	}
	&.articles {
		background: #{$sprite-global} -451px -16px no-repeat;
		padding: 10px 0 10px 45px;
		margin-bottom: 20px;
		@media #{$max-767} {
			font-size: $font21;
			line-height: $font-xl;
			text-align: center !important;
			padding-left: 0;
			background: none;
		}
	}
	&.wanted,
	&.viewed {
		background: #{$sprite-global} -448px -119px no-repeat;
		padding: 10px 0 10px 45px;
		margin-bottom: 20px;
		@media #{$max-767} {
			font-size: $font21;
			line-height: $font-xl;
			text-align: center;
			padding-left: 0;
			background: none;
		}
	}
	&.events {
		background: #{$sprite-global} -448px -67px no-repeat;
		padding: 10px 0 10px 45px;
		margin-bottom: 20px;
		@media #{$max-767} {
			font-size: $font21;
			line-height: $font-xl;
			text-align: center;
			padding-left: 0;
			background: none;
		}
	}
	&.advantages {
		background: #{$sprite-global} -448px -297px no-repeat;
		padding: 10px 0 10px 45px;
		@media #{$max-767} {
			font-size: $font21;
			line-height: $font-xl;
			text-align: center;
			padding-left: 0;
			background: none;
		}
	}
	&.mostRead {
		background: #{$sprite-global} -448px -16px no-repeat;
		padding: 10px 0 10px 45px;
	}
	&.gallery {
		background: url('../images/photo.png') 5px 7px no-repeat;
		padding: 10px 0 10px 45px;
	}
	&.video {
		background: #{$sprite-global} -448px -177px no-repeat;
		padding: 10px 0 10px 45px;
	}
	&.blog {
		background: url('../images/blog/bg_h2.png') 0 0 no-repeat;
		padding: 2px 0 10px 30px;
		@media #{$max-767} {
			font-size: $font21;
			line-height: $font-xl;
			text-align: center;
			padding-left: 0;
			background: none;
		}
	}
    &.forum {
      padding: 2px 0 10px 10px;
      @media #{$max-767} {
        font-size: $font21;
        text-align: center;
        padding-left: 0;
        background: none;
      }
    }
	small {
		font-size: $font20;
		font-family: $opensans-regular;
		@media #{$max-767} {
			display: none;
			margin-top: 10px;
			font-size: $font18;
			line-height: $font18;
		}
	}
}
h3 {
	font-size: $font15;
	line-height: $font15;
}
h4 {
	font-size: 12px;
}

body {
	background: $background-primary;
}


.open {
	font-family: $opensans-regular;
}
.openBold {
	font-family: $opensans-bold;
}
.xxl {
	font-size: $font25;
}
.xl {
	font-size: $font-xl;
}
.ms {
	font-size: $font15;
}
.link-right {
	float: right;
	padding-right: 20px;
	text-decoration: none;
	@include arial($font13);
	background: url('../images/arrow_right.png') 100% 4px no-repeat;
  &:hover{
    background: url('../images/arrow_right.png') 100% 4px no-repeat !important;
  }
}


.mobileNavigation {
	display: none;
	position: fixed;
	left: -100%;
}

.main, .header, .footer, #wp-nav-container {
	margin: 0 auto;
	background: $background-primary;
	padding: 0;
	@extend %box-sizing;
}

.header-container {
	border-top: 5px solid $pink;
	border-bottom: 0;
	background: url('../images/pattern_header_burda.png') 0 0 repeat-x;
	.big-burda {
		background: url('../images/bg_header_burda.png') center top no-repeat;
		height: 100px;
		@media #{$max-767} {
			display: none;
		}
	}
	.header {
		padding-top: 20px;
		.logo {
			margin: 6px 0 7px;
			float: left;
		}
		.secondPart {
			margin-top: 8px;
			@media #{$max-959} {
				display: none;
			}
			> div {
				margin-left: 10px;
			}
			.title {
				@include arial($font13, bold);
				margin-bottom: 5px;
			}
			.descrizione {
				margin-bottom: 5px;
				@include georgia($size: 14px);
				span {
					color: $pink;
				}
			}
			.link {
				margin: 0;
				a {
					@include arial($font13, bold);
					color: $pink;
				}
			}
		}
		.thirdPart {
			float: right;
			@media #{$max-1024} 	{ width: 23%; margin-right: 2%; }
			@media #{$max-959-only} { width: 28%;}
			@media #{$max-767} 		{ width: 100%; margin: 0; }
			.quick-access {
				padding: 0;
				float: none;
				width: 100%;
				position: relative;
				.links {
					float: none;
					clear: both;
					text-align: left;
					margin-top: 6px;
					li {
						padding: 0;
						&.first {
							background: url('../images/th_separator.png') 100% 0 no-repeat;
							padding-right: 8px;
						}
						&.cartMobile {
							display: none;
						}
						&.last {
							margin-left: 30px;
						}
						a {
							@include font-s($font12);
							padding: 0 0 0 20px;
							background: #{$sprite-global} -462px -418px no-repeat;
							&.accedi {
								background-position: -462px -445px;
								margin-left: 6px;
							}
							&.wishlist {
								background-position: -66px -320px;
								margin-left: 6px;
								@media #{$max-767} {
									margin-left: 0;
								}
							}
							&.cartMobile {
								display: none;
							}
						}
					}
				}
				.customer-choice {
					display: none;
					position: absolute;
					top: 40px;
					right: 0;
					z-index: 2001;
					border: 1px solid $grigio-piu-chiaro;
					background: $background-primary url('../images/omino_bianco.png') 12px 6px no-repeat;
					width: 100%;
					height: 140px;
					ul {
						float: right;
						margin: 10px 16px 0 0;
						li {
							margin-bottom: 2px;
							a {
								padding-left: 13px;
								background: url('../images/arrow_right.png') 0 5px no-repeat;
								&.logout {
									color: #cc0000;
								}
							}
						}
					}
				}
			}
			.welcome-msg {
				@include georgia;
				color: $grigio;
				text-align: left;
				display: inline-block;
				span {
					color: $pink;
				}
				a {
					display: none;
				}
			}
			.flag {
				display: inline-block;
				float: right;
				position: relative;
				border-left: 1px solid $grigio-molto-chiaro;
				border-right: 1px solid $grigio-molto-chiaro;
				padding: 4px 6px 0;
				cursor: pointer;
				@media #{$max-767} {
					display: none;
				}
				.nations {
					position: absolute;
					z-index: 9999;
					background: #fff;
					padding-right: 25px;
					padding-left: 6px;
					top: 23px;
					left: 0;
					display: none;
					li {
						margin-bottom: 4px;
					}
				}
			}
			.block-cart {
				
			}
		}
		.mobile_topNav {
			display: none;
		}
	}
}


.nav-container {
	position: relative;
}
.categorypath-creazioni-degli-utenti-html .col-main {
  width: 645px !important;
  @media #{$max-1024} {
    width: 67%;
  }
  @media #{$max-767} {
    width: 100%;
  }
}
.main-container {
	background: $background-primary;
	&.col2-right-layout,
	&.col2-left-layout {
		.col-main {
			width: 645px;
			@media #{$max-1024} {
				width: 67%;
			}
			@media #{$max-767} {
				width: 96%;
				padding: 0 2%;
			}
		}
	}
	&.col1-layout {
		.col2-set .col-1 {
			float: left;
			width: 48.5%;
		}
		.col2-set .col-2 {
			float: right;
			width: 48.5%;
		}
	}
	.main {
		text-align: left;
		.breadcrumbs {
			margin: 18px 0;
			@media #{$max-959} {
				margin-left: 2%;
			}
			@media #{$max-767} {
				display: none;
			}
			a {
				color: $grigio-chiarone;
			}
			.divideBread {
				width: 1px;
				height: 10px;
				background: url('../images/nav_divider.png') 0 0 repeat-y;
				display: inline-block;
				margin: 0 3px;
			}
			span {
				
			}
		}
		.page-title h1 {
			font-family: $opensans-regular;
			font-size: $font-xxxxxl;
			line-height: $font-xxxxxxl;
			@media #{$max-767} {
			  text-align: center;
			  float: none;
			  font-size: $font20;
			}
		}
		.col-main {
			@media #{$max-959} { 
				width: 96%;
				padding: 0 2%;
			}
			@media #{$max-767} {
				width: 96%;
				padding: 0 2%;
			}
			#sideSelect { width: 100%; height: 80px !important; margin-bottom: 40px;}
		}
		.col-left {
			width: 310px;
			@media #{$max-767} { 
				width: 100%;
				clear: both;
			}
		}
		.col-right {
			width: 300px;
			padding-left: 0px;
			margin-top: 20px;
			.cms-index-index & { width: 310px; }
			@media #{$max-1024} {
				width: 32%;
				padding-left: 1%;
			}
			@media #{$max-959} { 
				display: none;
			}
		}
	}
}

.logo-pre-footer {
	background: url('../images/pattern_footer_burda.png') 0 bottom repeat-x;
	.logo-pre {
		height: 216px;
		background: url('../images/bg_footer_burda.png') center bottom no-repeat;
		@media #{$max-767} {
			background-size: 100%;
		}
	}
}


.footer-container {
	border-top: 4px solid $pink;
	.footer {
		> div {
			display: inline-block;
			float: left;
			min-height: 120px;
			margin: 20px 20px 40px 0;
			@media #{max-1024} {
				text-align: left;
				min-width: 170px;
			}
			@media #{$max-767} { 
				float: none;
				display: block;
				text-align: center;
			}
			h4 {
				color: $pink;
				margin: 20px 0 20px;
				text-align: left;
				@media #{$max-767} { 
					text-align: center;
					font-size: $font12;
				  margin: 20px 0 30px;
				}
			}
			ul{
			  @media #{$max-767} {
				display: inherit;
				margin-top: 30px;
			  }
			}
			li {
				display: block;
				text-align: left;
				padding: 0;
				margin-bottom: 5px;
				a {
					color: $grigio;
					@media #{$max-767} { 
						font-size: $font14;

					}
				}
				@media #{$max-767} { 
					text-align: center;
					margin-bottom: 30px;
				}

			}
			&.first {
				@media #{$max-959} {
					margin-left: 2%;
				}
			}
			&.fourth {
				img {
					@media #{$max-767} { 
						margin: 0 auto 20px;
					}
				}
			}
			&.fifth {
				margin-right: 0;
				ul#menu{
				  @media #{$max-767} {
					display: inline-block !important;
					float: inherit !important;
					clear: both;
				  }
				}
				ul li {

					float: left;
					margin-right: 25px;
					&:last-child {
						margin: 0;
					}
					a {
						display: inline-block;
						width: 30px;
						height: 30px;
						background: url('../images/social.jpg') 0 0 no-repeat;
						&.fb {
							background-position: 0 0;
						}
						&.tw {
							background-position: -59px -1px;
						}
						&.gp {
							background-position: -117px -1px;
						}
						&.pt {
							background-position: -178px -2px;
						}
						&:hover { text-decoration: none; }
					}
				}
				img.pagamento {
					margin-top: 20px;
				}
			}
		}
	}
	address {
		background: $grigio;
		.address {
			margin: 0 auto;
			color: $white;
			font-size: $font13mall;
			text-align: left;
			padding: 15px 0;
			a { color: #fff; font-size: $font13mall; }
			@media #{$max-959} {
				text-align: center;
			}
			@media #{$max-767} {
			  font-size: 0.6rem;
			}
		}
	}
}



input:-webkit-autofill, 
textarea:-webkit-autofill {
	background: #fff;
}

