#search_mini_form {
    position: absolute;
    top: 0;
    width: 290px;
    right: 0;
    padding: 10px;
    background: $pink;
    display: none;
    z-index: 1000;
    @include radius(3px,3px,3px,3px);
    @media #{$max-767} {
        width: 96%;
        padding: 0 2%;
        height: 200px;
    }
    .form-search {
        @media #{$max-767} {
            text-align: center;
            button.button {
                margin-top: 30px;
                width: 25%;
                span {
                    height: 38px !important;
                }
            }
        }
    }
    input[type="text"]{
      width: 220px;
      @include radius(3px,3px,3px,3px);
      padding: 3px 0 3px 5px;
      @media #{$max-767} {
        width: 99%;
        margin-top: 40px;
      }
    }
    button.button {

    }
    label{
      display: none;
      visibility: hidden;
    }
    .search-autocomplete{
      background: #fff;
      ul{
        padding: 0 10px 0px 10px;
        border:1px solid #eee;
        border-top:none;
        li{
          border-top:1px solid #eee;
          padding: 8px 0;
          cursor: pointer;
          &:first-child, &.first{
            border-top:none;
          }
        }
      }
    }
}

@-moz-document url-prefix() {
  .page #nav > li {
    padding: 0;
    &.nav-8{
    padding: 0 !important;
    }
    &#nav-home {
      padding: 0 !important;
    }
  }
}

.page #nav {
    position: relative;
    font-size: 12px;
    padding: 0px 0px 0px 0px;
  @include radius(3px,3px,3px,3px);
    height: auto;
    margin: 0 auto;
    z-index:2000;
    width: 984px;
    max-width: 100%;
    background: $grigio;
    @media #{$max-1024} {
        background: $grigio;
    }
    -webkit-transform: translateZ(0); /* Fix possible glitches during animation */
    > li {
        border: 0;
        text-transform: none;
        text-align: center;

        background: $grigio url('../images/nav_divider.png') 100% 60% no-repeat;
        @media #{$max-1024} {
            padding: 0 1.60%;
        }
        &:hover, &.active {
            background: $background-primary;
            border-top: 5px solid $pink;
           > a {
                line-height: 35px;
                span {
                  color: $pink;
                  @include text-shadow(0,0,0);
                  padding-top: 8px;
                }
            }
        }
        > a {
            padding: 0 3px;
            line-height: 40px;
            span {
                font-family: $opensans-bold;
                font-size: $font15;
                color: $white;
                letter-spacing: $basic-spacing;
                @include text-shadow();
                @media #{$max-959} {
                    font-size: $font12;
                } 
            }
            &:hover {
                span {
                    color: $pink;
                    @include text-shadow(0,0,0);
                }
            }
        }
        .level0-wrapper {
            background: rgba(255,255,255,1);
            width:96%;
            padding:2%;
            position:absolute;  
            left:-10000px;
            @include shadow(null,0,5px,8px,#999);
            -webkit-transform: translateZ(0); 
            ul {
                list-style: none;
                float: left;
                li {
                    a {
                        padding: 0;
                        margin: 0 0 5px;
                        &:hover {
                            background: none;
                        }
                    }
                    h4 {
                        //text-transform: uppercase;
                      font-size: 13px;
                    }
                }
                &.level0 {
                    width: 100%;
                    text-align: left;
                    .level1 {
                        > a {
                            span {
                                font-family: $opensans-bold;
                                margin-bottom: 10px;
                                //text-transform: uppercase;
                            }
                        }
                        .level2 {
                            //padding-left: 7px;
                            margin-bottom: 10px;
                            //background: url('../images/arrow_mega_menu.png') 0 4px no-repeat;
                            &:hover {
                                //padding-left: 13px;
                                //background-position: 5px -13px;
                                a {
                                    text-decoration: none;
                                    span {
                                        color: $pink !important;
                                    }
                                }
                            }
                        }
                    }
                }
                &.cats {
                    width: 175px;
                    padding-left: 5px;

                    li {
                        margin: 10px 0;
                        &:first-child{
                          margin-top: 0px
                        }

                        a {
                            color: $grigio !important;
                            /*background: url('../images/arrow_mega_menu.png') 0 4px no-repeat;*/
                            &:hover {
                                //padding-left: 13px;
                                //background-position: 3px -10px;
                                text-decoration: none;
                                color: $pink !important;
                            }
                            &:before {
                              content: "";
                              width: 10px;
                              height: 10px;
                              display: inline-block;
                              border-radius: 50%;
                              margin-right: 8px;
                            }
                        }
                    }
                }

                &.vantaggio_menu{
                  float: right;
                  width: 225px;
                  padding-left: 15px;
                  background: url('../images/nav_divider.png') 0 0 repeat-y;
                  @media #{$max-959} {
                    display: none;
                  }
                }
                &.gallery {
                    float: right;
                    width: 225px;
                    padding-left: 15px;

                    @media #{$max-959} {
                        display: none;
                    }
                }
                &.ultimi-post{
                  background: url('../images/nav_divider.png') 0 0 repeat-y;
                  padding-left: 20px !important;
                  width: 250px !important;
                }
                &.vantaggio_menu {
                    li {
                        text-align: center;
                    }
                }
                &#menu {
                    width: 165px;
                    padding-left: 0;
                    padding-right: 10px;
                    @media #{$max-959} { 
                        width: 22%;
                    }
                    li {
                      margin-bottom: 10px;
                      a {
                        //padding-left: 7px;
                        //background: url('../images/arrow_mega_menu.png') 0 5px no-repeat;
                        &:hover {
                          //padding-left: 13px;
                          //background-position: 3px -11px;
                          text-decoration: none;
                          color: $pink !important;
                        }
                      }
                    }
                }
                &.comm {
                    width: 200px;
                    padding-left: 0;
                    padding-right: 10px;
                    @media #{$max-959} { 
                        width: 22%;
                    }
                    li {
                      margin-bottom: 10px;
                      a {
                        //padding-left: 7px;
                        //background: url('../images/arrow_mega_menu.png') 0 5px no-repeat;
                        &:hover {
                          //padding-left: 13px;
                          //background-position: 3px -13px;
                          text-decoration: none;
                          color: $pink !important;
                        }
                      }
                    }
                }
                &.last {
                    @media #{$max-959} { 
                        display: none;
                    }
                }

            }
          div.ultime-news{
            background: url("../images/nav_divider.png") left 0 repeat-y;
            float: right;
            h4.title{
              margin-left:18px;
              font-size: 14px;
              margin-bottom: 8px;
              margin-top: 0px;
              text-align: left;
            }
          }
            .nav-block-right {
                > p {
                    display: none;
                }
                > ul {
                    > p {
                        display: none;
                    }
                }
                &.grid12-4 {
                    float: right;
                    width: 225px;
                    padding-left: 15px;
                    background: url('../images/nav_divider.png') 0 0 repeat-y;
                  text-align: left;
                    @media #{$max-959} {
                      display: none;
                    }
                    .product {
                        margin-bottom: 20px;
                        float: left;

                        .sku{
                          color:$grigio-chiarone;
                          margin-bottom: 10px;
                          font-size: 11px;
                        }
                        h4{
                          font-family: $opensans-regular;
                          /*text-transform: uppercase;*/
                          font-size: 13px;
                          margin-bottom: 2px;
                          a{
                            font-family: $opensans-regular;
                          }
                          &.prodotto{
                            margin-bottom: 10px;
                          }
                        }
                        .leftProd {
                            width: 40%;
                            float: left;
                            img {
                                width: 100%;
                            }
                        }
                        .rightProd {
                            .sku{
                              margin-bottom: 2px;
                            }
                            float: left;
                            width: 56%;
                            margin-left: 4%;
                            .doubleData {
                             span{
                                clear: both;
                                display: block;
                                font-size: $font12;
                                a { 
                                  color: $grigio-chiarone;
                                }

                              }
                            }
                            .price{ 
                              font-size: 1rem;
                              font-weight: bold;
                              font-style: normal;
                              color: $grigio-chiaro;
                              margin-top: 10px;
                              display: block;
                             }
                        }
                    }
                }
                &.grid12-12 {
                    width: 100%;
                }
            }
        }
        &#nav-home {
            padding: 0;
            background: none;
            border: 0 !important;
            background: $pink;
            width: 40px;
            @include radius($tl:3px,$bl:3px);
            a {
                width: 100%;
                height: 40px !important;
                display: inline-block;
                background: #{$sprite-global} -58px -13px no-repeat;
                text-indent: -9999em;
            }
        }
        &.nav-1 {
            width: 100px;
            @media #{$max-1024} {
                width: auto;
            }
        }
        &.nav-2 {
            width: 205px;
            @media #{$max-1024} {
                width: auto;
            }
        }
        &.nav-3 {
            width: 90px;
            @media #{$max-1024} {
                width: auto;
            }
        }
        &.nav-4 {
            width: 140px;
            @media #{$max-1024} {
                width: auto;
            }
        }
        &.nav-5 {
            width: 89px;
            @media #{$max-1024} {
                width: auto;
            }
        }
        &.nav-6 {
            width: 105px;
            @media #{$max-1024} {
                width: auto;
            }
        }
        &.nav-7 {
            width: 175px;
            background-image: none;
            @media #{$max-1024} {
                width: auto;
            }
            @media #{$max-959} {
                display: none;
            } 
        }
        &.nav-8{
            padding: 0;
            background: none;
            border: 0 !important;
            background: $pink;
            width: 40px;
            @include radius($tr:3px,$br:3px);
            @media #{$max-1024} {
                float: right;
            }
            a {
                width: 100%;
                display: inline-block;
                background: #{$sprite-global} -113px -14px no-repeat;
                text-indent: -9999em;
                height: 40px !important;
                span {
                    padding-top: 12px !important;
                }
            }
        }
    }
}

div.level1 {
    margin-bottom: 5px;
}
div.level2 {
    margin-bottom: 5px;
}
div.level3 {
    margin-bottom: 5px;
    padding: 5px;
}
div.block2 {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    p {
        margin-bottom: 3px;
        line-height: 120%;
        color: #000;
        font-size: 11px;
    }
    a {
        display: inline;
        img {
            opacity: .9;
            filter: alpha(opacity=90);
        }
        &:hover {
            img {
                opacity: 1;
                filter: alpha(opacity=100);
                @include transition(all,.2s);
            }
        }
    }
}
a.level1:link, a.level1:visited {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
  @include radius(3px,3px,3px,3px);
}
a.level2:link, a.level2:visited {
    padding: 3px 10px;
  @include radius(3px,3px,3px,3px);
}
/* Clearfix */


html[xmlns] div.block2 {
    display: block;
}
* html div.block2 {
    height: 1%;
}



div.block2 a:hover 
div.block2 .brand a:hover img {
    -webkit-transition: all 0;
    -moz-transition: all 0;
    -ms-transition: all 0;
    transition: all 0;
}
div.wp-custom-menu-popup hr {
    margin: 0px 0px 10px 0px;
}



/******************************************* COLUMN WIDTH ***************************** */
div.column {
    float: left;
    width: 18%; /* for 5 columns*/
    padding: 0px 1%;
    margin: 0px 0px 0px 0px;
}
/*end COLUMN WIDTH  */

div.itemSubMenu {
    margin-left: 0px;
}
.clearBoth {
    clear:both;
    height: 0;
    overflow: hidden;
}
div.level1 {
    margin-bottom: 0px;
    > a span {
        
    }
}


/*BG*/
div.wp-custom-menu-popup {
    background: rgb(255,255,255);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
div.menu a:link, div.menu a:visited {
}
div.menu a:hover {
    background: #fff;
}
div.menu a, div.wp-custom-menu-popup a {
 -webkit-transition: background .1s linear;
-moz-transition: background .1s linear;
-ms-transition: background .1s linear;
transition: background .1s linear;
}
div.menu .brand a, div.wp-custom-menu-popup .brand a {
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -ms-transition: all 0s linear;
    transition: all 0s linear;
}
div.menu.active a {
    background: #fff !important;
}
div.level3 {
    background: #fff;
}
/*FONTS*/
div.menu {
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
}
a.level1:link, a.level1:visited {
    text-transform: none;
    font-weight: normal;
}
a.level2:link, a.level2:visited {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}
a.level3:link, a.level3:visited {
    font-size: 11px;
    font-weight: normal;
    line-height: 100%;
    margin-bottom: 0px;
}
/*COLOR*/
div.menu a:link, div.menu a:visited {
    color: #fff;
}
div.menu a:hover, div.menu.active a {
    color: #000;
}
a.level3:link, a.level3:visited {
    color: #333333;
}
a.level3:hover {
    color: #b43f74;
}
a.level2:link, a.level2:visited {
    color: #000;
}
a.level1:hover {
    background: #d3d3d3;
}
a.level2:hover {
    color: #000;
    background: #d3d3d3;
}
.block2 table.brand {
    float: left;
}
.block2 .single_menu_product {
    float: left;
    position: relative;
    max-width: 150px;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 0px;
}
