@media #{$max-1024} {

	.wrapper, .main, .header, .footer, #wp-nav-container, .address, #nav {
		width: $second-width;
		min-width: $second-width;
	}

	.header-container {
		.header {
			clear: both;
			.firstPart {
				width: 20%;
				margin-left: 2%;
			}
			.secondPart {
				width: 42%;
				float: left;
				text-align: left;
				margin-left: 35px;
				> div {
					float: left;
					max-width: 50%;
				}
			}
		}
	}

	
}