
.forum tfoot {
    border-bottom: 1px solid #6CA5BC;
}
.forum tfoot tr.first td {
    background: url("../../../default/default/images/bkg_tfoot.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.forum tfoot tr {
    background-color: #DEE5E8 !important;
}
.forum tfoot strong {
    font-size: 16px;
}

.forum tbody.odd tr {
    background: none repeat scroll 0 0 #F8F7F5 !important;
}
.forum tbody.even tr {
    background: none repeat scroll 0 0 #F6F6F6 !important;
}
.forum tbody.odd tr td, .forum tbody.even tr td {
    border-bottom: 0 none;
}
.forum tbody.odd tr.border td, .forum tbody.even tr.border td {
    border-bottom: 1px solid #6CA5BC;
}
.forum tbody td .option-label {
    font-style: italic;
    font-weight: bold;
}
.forum tbody td .option-value {
    padding-left: 10px;
}

.form-border .details{ border-right:1px solid #6CA5BC !important; text-align:center; padding-top:4%; width:20%;}

.form-border a{ font-weight:bold; }

.selection{ width:120px; font-weight:bold;}

.list{ width:48px;}
