.block.block-cart {
	border: 0;
	margin-bottom: 3px;
	margin-top: 20px;
	width: auto;
	position: relative;
	.block-title {
		clear: both;
		overflow: hidden;
		border: 0;
		border-left: 1px solid #ccc;
		cursor: pointer;
		padding-left: 10px;
		background: #{$sprite-global} 175px -54px no-repeat;
		p {
			@include georgia($size: 19px, $line: 20px);
			text-align: left;
			margin:  0 0 0 10px;
			float: left;
			span {
				font-family: $opensans-bold;
				font-style: normal;
				color: $pink;
				font-size: $font-xs-rem;
			}
			&.cart {
				display: inline-block;
				width: 48px;
				height: 44px;
				position: relative;
				margin: 0;
				background: #{$sprite-global} -68px -89px no-repeat;
				.qtyCart {
					@include georgia($size:$font13);
					font-weight: bold;
					position: absolute;
					right: 8px;
					top: 16px;
				}
			}
		}
	}
	.block-content {
		display: none;
		position: absolute;
		z-index: 99999;
		background: #fff;
		width: 280px;
		right: 0;
		top: 44px;
		padding: 10px 30px 10px 10px;
		border-top: 4px solid $pink;
		@include shadow(null,0,7px,8px,#999);
		.summary {
			.items {
				.item {
					.product-image {
						display: block;
						float: left;
					}
					.product-details {
						float: left;
						height: 100px;
						margin-left: 5px;
						width: 71%;
						margin-bottom: 20px;
						text-align: left;
						background: #{$divider} 0 100% repeat-x;
                        padding-bottom: 10px;
						.product-name {
							display: block;
							text-align: left;
							padding-top: 10px;

							.name {
								color: $pink;
								font-size: $font15;
							}
							.btn-remove {
								display: inline-block;
								width: 8px;
								height: 8px;
								background: url('../images/bg_remove_minicart.png') 0 0 no-repeat;
								float: right;
							}
						}
						.sku {
							@include arial($font12);
							color: $grigio-chiarone;
						}
						.doubleData {
                            height: auto;
                            margin-bottom: 10px;
							span {
								font-size: $font12;
							}
							.lvl {
								float: right;
							}
						}
						.price {
							font-size: $font-middle;
							font-family: $opensans-bold;
							color: $grigio-chiaro;
						}
					}
				}
			}
			.subtotal {
				overflow: hidden;
				padding-bottom: 10px;
				.cartPrice {
					float: left;
					width: 40%;
					text-align: left;
					margin-top: 10px;
					span {
						font-family: $opensans-bold;
						font-size: $font-middle;
						color: $grigio-chiaro;
						&.price {
							color: $pink;
						}
					}
				}
				.actions {
					float: right;
					width: 60%;
				}
			}
		}
	}

	&.opened {
		.block-title {
			background: url('../images/top_cart_opened.png') 100% 0 no-repeat;
		}
		.block-content {
			display: block;
		}
	}
}