<?xml version="1.0"?>
<config>
    <modules>
        <Sevenlike_Importexport>
            <version>1.0.0</version>
        </Sevenlike_Importexport>
    </modules>
    <global>
        <importexport>
            <import_product_types>
                <importexport>importexport/import_entity_product_type_downloadable</importexport>
            </import_product_types>
        </importexport>
    </global>
</config>
