<?xml version="1.0"?>
<config>
   <sections>
<!-- payment tab -->
        <payment>
            <groups>
<!-- newmodule fieldset -->
                <bancasellagestpay translate="label" module="bancasellagestpay">
<!-- will have title 'New Module' -->
                    <label>Banca Sella GestPay</label>
<!-- position between other payment methods -->
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
<!-- is this payment method active for the website? -->
                        <active translate="label">
<!-- label for the field -->
                            <label>Abilitato</label>
<!-- input type for configuration value -->
                            <frontend_type>select</frontend_type>
<!-- model to take the option values from -->
                            <source_model>adminhtml/system_config_source_yesno</source_model>
<!-- field position -->
                            <sort_order>1</sort_order>
<!-- do not show this field in store scope -->
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <order_status_paid translate="label">
                            <label>Stato Ordine Pagato</label>
                            <frontend_type>select</frontend_type>
                            <source_model>bancasellagestpay/status</source_model>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status_paid>
                        <title translate="label">
                            <label>Titolo</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>520</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <description translate="label">
                            <label>Descrizione</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>530</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description>
                        <license translate="label">
                            <label>Licenza</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>540</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </license>
                        <submit_url>
                            <label>URL Gestpay</label>
                            <frontend_type>select</frontend_type>
                            <source_model>bancasellagestpay/ecomm</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </submit_url> 
                        <merchant_id>
                            <label>ID Esercente</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </merchant_id>
                        <allowspecific translate="label">
                            <label>Pagamento Disponibile Per</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>65</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allowspecific>
                        <specificcountry translate="label">
                            <label>Paesi Autorizzati</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>70</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><allowspecific>1</allowspecific></depends>
                        </specificcountry>
                        <sort_order translate="label">
                            <label>Ordinamento</label>
                            <frontend_type>text</frontend_type>
                        </sort_order>
                    </fields>
                </bancasellagestpay>
            </groups>
        </payment>
    </sections>
</config>