/* colori */
$background-primary: #fff;
$grigio: #3d3d45;
$grigio-chiaro: #666;
$grigio-chiarone: #999;
$grigio-piu-chiaro: #ccc;
$grigio-molto-chiaro: #dddcdc;
$pink: #ec3066;
$white: #fff;
$red: #cc0000;
$bordo-separatore: #e3e3e3;
$bordo-bottoni: #eee;

/* dimensioni font */
$font-too-big: 4rem; 		/*      */
$font45: 2.813rem; 			/* 45px */
$font42: 2.413rem; 			/* 42px */
$font-xxxxxxl: 2.2rem; 		/*      */
$font-xxxxxl: 2.1rem; 	    /*      */
$font26: 2rem; 		     	/* 26px */
$font25: 1.9rem; 			/* 25px */
$font-xl: 1.8rem; 
$font22: 1.7rem;			/* 22px */
$font21: 1.6rem;			/* 21px */
$font20: 1.5rem;			/* 20px */
$font18: 1.4rem;
$font-middle: 1.2rem;       /* 16px */
$font15: 1.1rem;    	    /* 15px */
$font14: 1.05rem;           /* 14px */
$font13: 0.966rem;			/* 13px */
$font12: 0.9rem;			/* 12px */
$font13mall: 0.8em; 		/* 11px */
$font-xs-rem: 0.8rem;		/* 11px */
$font10: 0.769rem;          /* 10px */
$font9: 0.669rem;           /* 9px  */
$basic-spacing: 0.8px;

/* larghezze */
$primary-width: 984px;
$second-width: 100%;
$col-main: 720px;
$col-left: 236px;

/* valori media-queries */
$max-767: 	   "only screen and (max-width: 47.938em)";
$max-959: 	   "only screen and (max-width: 59.938em)";
$max-959-only: "only screen and (max-width: 59.938em) and (min-width: 47.939em)";
$max-1024: 	   "only screen and (max-width: 64em)";
$min-1025: 	   "only screen and (min-width: 64.063em)";


/* riutilizzi */
$sprite-global: "url('../images/sprite_global.png')";
$divider: "url('../images/divider.png')";


