<?xml version="1.0"?>
<config>
  <modules>
    <MG_Megaforum>
      <version>1.0.4</version>
    </MG_Megaforum>
  </modules>
  <frontend>
    <routers>
      <megaforum>
        <use>standard</use>
          <args>
            <module>MG_Megaforum</module>
            <frontName>megaforum</frontName>
          </args>
      </megaforum>
    </routers>
		<layout>
		  <updates>
			<megaforum>
			  <file>megaforum.xml</file>
			</megaforum>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <megaforum>
        <class>MG_Megaforum_Helper</class>
      </megaforum>
    </helpers>
	<blocks>
	  <megaforum>
		<class>MG_Megaforum_Block</class>
	  </megaforum>
	</blocks>
	<models>
	  <megaforum>
		<class>MG_Megaforum_Model</class>
		<resourceModel>megaforum_mysql4</resourceModel>
	  </megaforum>
	  <megaforum_mysql4>
		<class>MG_Megaforum_Model_Mysql4</class>
		<entities>		  
			  <forumuser>
				<table>forumuser</table>
			  </forumuser>		  
			  <forumusertype>
				<table>forumusertype</table>
			  </forumusertype>		  
			  <forum>
				<table>forum</table>
			  </forum>		  
			  <topic>
				<table>topic</table>
			  </topic>		  
			  <post>
				<table>post</table>
			  </post>
			  <forumstore>
				<table>forumstore</table>
			  </forumstore>
			  <!--<watchlist>
				<table>watchlist</table>
			  </watchlist>-->
              <watchlistsingle>
                <table>watchlistsingle</table>
              </watchlistsingle>
			  <notificationtemplate>
				<table>notificationtemplate</table>
			  </notificationtemplate>
			  <privatemsg>
				<table>privatemsg</table>
			  </privatemsg>
			  
        </entities>
	  </megaforum_mysql4>
	</models>
	<resources>
	  <megaforum_setup>
		<setup>
		  <module>MG_Megaforum</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </megaforum_setup>
	  <megaforum_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </megaforum_write>
	  <megaforum_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </megaforum_read>
	</resources>
	
	<events>
        <controller_action_predispatch_customer_account_createpost>
            <observers>
                <megaforum>
                    <type>singleton</type>
                    <class>MG_Megaforum_Model_Observer</class>
                    <method>hookToAccountCreationBefore</method>
                </megaforum>
            </observers>
        </controller_action_predispatch_customer_account_createpost>
		
		<customer_register_success>
			<observers>
			  <mg_megaforum_model_observer>
				<type>singleton</type>
				<class>MG_Megaforum_Model_Observer</class>
				<method>customerReg</method>
			  </mg_megaforum_model_observer>
			</observers>
        </customer_register_success>
		
    </events>
	
  </global>
  <admin>
	<routers>
	  <megaforum>
	    <use>admin</use>
		<args>
		  <module>MG_Megaforum</module>
		  <frontName>community</frontName>
		</args>
	  </megaforum>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <megaforum module="megaforum">
		<title>Megaforum</title>
		<sort_order>100</sort_order>
		<children>
		  <forumuser module="megaforum">
		    <title>Manage Forumuser</title>
			<sort_order>0</sort_order>
			<action>megaforum/adminhtml_forumuser</action>
		  </forumuser>
		<!--  <forumusertype module="megaforum">
		    <title>Manage Forumusertype</title>
			<sort_order>10</sort_order>
			<action>megaforum/adminhtml_forumusertype</action>
		  </forumusertype> -->
		  <forum module="megaforum">
		    <title>Manage Forum</title>
			<sort_order>20</sort_order>
			<action>megaforum/adminhtml_forum</action>
		  </forum>
		  <topic module="megaforum">
		    <title>Manage Topic</title>
			<sort_order>30</sort_order>
			<action>megaforum/adminhtml_topic</action>
		  </topic>
		  <post module="megaforum">
		    <title>Manage Post</title>
			<sort_order>40</sort_order>
			<action>megaforum/adminhtml_post</action>
		  </post>
		  <notificationtemplate module="megaforum">
		    <title>Manage Notificationtemplate</title>
			<sort_order>50</sort_order>
			<action>megaforum/adminhtml_notificationtemplate</action>
		  </notificationtemplate>
		</children>
	  </megaforum>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<megaforum translate="title" module="megaforum">
			  <title>Megaforum</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <forumuser translate="title">
			<title>Manage Forumuser</title>
			<sort_order>0</sort_order>
		  </forumuser>
		<!--  <forumusertype translate="title">
			<title>Manage Forumusertype</title>
			<sort_order>10</sort_order>
		  </forumusertype> -->
		  <forum translate="title">
			<title>Manage Forum</title>
			<sort_order>20</sort_order>
		  </forum>
		  <topic translate="title">
			<title>Manage Topic</title>
			<sort_order>30</sort_order>
		  </topic>
		  <post translate="title">
			<title>Manage Post</title>
			<sort_order>40</sort_order>
		  </post>
		  <notificationtemplate translate="title">
			<title>Manage Notificationtemplate</title>
			<sort_order>50</sort_order>
		  </notificationtemplate>
			  </children>
			</megaforum>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<megaforum>
		  <file>megaforum.xml</file>
		</megaforum>
	  </updates>
	</layout>
  </adminhtml>
</config> 