.category-products.category-video .products-list li a.product-video span.new.free {
	height: initial;
	width: initial;
	padding: 3px 6px;
}

@media screen and (max-width: 480px) {
	.category-products.category-video .products-list li .datiProd,	
	.category-products.category-video .products-list li a.product-video {
	    width: 100%;
	}	
}


@media screen and (max-width: 768px) {
	.category-products.category-video .products-list li .datiProd .actions a {
		font-size: 0.4rem;
		text-align: center;
		padding: 0;
	}

	.category-products.category-video .products-list li .datiProd .video-name a {
		font-size: 18px;
	}

	.category-products.category-video .products-list li .datiProd .actions button.button > span {
          background: url('../images/sprite_global.png') 173px -240px no-repeat;
          width: 100%;
          height: 33px;
          background-color: none;
          height: 0 !important;
    }

	.category-products.category-video .products-list li .datiProd .actions button.button > span > span {
	    font-size: 12px;
	    line-height: 11px;
	    font-weight: bold;
	}

}