<?xml version="1.0"?>
<config>
    <modules>
        <Sevenlike_Mediaserver>
            <version>0.2.0</version>
        </Sevenlike_Mediaserver>
    </modules>
    <global>
        <helpers>
            <mediaserver>
                <class>Sevenlike_Mediaserver_Helper</class>
            </mediaserver>
        </helpers>
        <blocks>
            <mediaserver>
                <class>Sevenlike_Mediaserver_Block</class>
            </mediaserver>
        </blocks>
        <resources>
            <mediaserver_setup>
                <setup>
                    <module>Sevenlike_Mediaserver</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mediaserver_setup>
            <mediaserver_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mediaserver_write>
            <mediaserver_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mediaserver_read>
        </resources>
        <events>
            <catalog_product_save_before>
                <observers>
                    <catalog_product_save_before_handler>
                        <type>model</type>
                        <class>Sevenlike_Mediaserver_Model_Observer</class>
                        <method>catalogProductSaveBefore</method>
                    </catalog_product_save_before_handler>
                </observers>
            </catalog_product_save_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <sevenlike_mediaserver>
                    <file>sevenlike_mediaserver.xml</file>
                </sevenlike_mediaserver>
            </updates>
        </layout>
        <routers>
            <mediaserver>
                <use>standard</use>
                <args>
                    <frontName>videos</frontName>
                    <module>Sevenlike_Mediaserver</module>
                </args>
            </mediaserver>
        </routers>
    </frontend>
    <default>
        <mediaserver>
            <general>
                <enable_my_videos_for_customers>0</enable_my_videos_for_customers>
            </general>
        </mediaserver>
    </default>
</config>